<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>
  
  
    <h2>Owner Information</h2>
  
  
    <table class="table table-striped" >
      <tr>
        <th>Name</th>
        <td><b id="name"></b></td>
      </tr>
      <tr>
        <th>Address</th>
        <td ><b id="address"></b></td>
      </tr>
      <tr>
        <th>City</th>
        <td ><b id="city"></b></td>
      </tr>
      <tr>
        <th>Telephone</th>
        <td ><b id="telephone"></b></td>
      </tr>
    </table>
  
    <a  class="btn btn-primary"  onclick="redirectToUpdateOwner()">Edit
      Owner</a>
    <a  class="btn btn-primary" onclick="redirectToAddPet()">Add
      New Pet</a>
  
    <br />
    <br />
    <br />
    <h2>Pets and Visits</h2>
  
    <table class="table table-striped" id="pettable">
      <tr  >
        <td valign="top" id="td1">

        </td>
        <td valign="top" id="td2">

        </td>
      </tr>
    </table>
<div id="row" hidden>
    <dl class="dl-horizontal" >
      <dt>Name</dt>
      <dd class="petName"></dd>
      <dt>Birth Date</dt>
      <dd class="petBirthDate"></dd>
      <dt>Type</dt>
      <dd class="petType"></dd>
    </dl>
</div>
    <table class="table-condensed" id="table">
      <thead hidden>
      <tr>
        <th>Visit Date</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody hidden>
      <tr>
        <td class="visitDate"></td>
        <td class="description"></td>
      </tr>
      <tr>
        <td class="editPet"></td>
        <td class="addVisit"></td>
      </tr>
      </tbody>
    </table>


    <script th:src="@{/js/Main.js}"></script>
    <script type="text/javascript">setOwnerDetailById()</script>
  </body>

</html>
